In [2]:
import pandas as pd
import model
import data

In [41]:
data_path='../data/test_data/'
edge_cases=data_path+'edge_cases/'
# df = pd.read_csv(data_path+'origins_basic.csv')
# df = pd.read_csv(data_path+'destinations_basic.csv')
df = pd.read_csv(data_path+'distances_cartesian.csv')
# df = pd.read_csv(edge_cases+'origins_nan_populations.csv')
# df = pd.read_csv(edge_cases+'origins_id_not_unique.csv')
# df = pd.read_csv(edge_cases+'distances_not_numeric.csv')
# df = pd.read_csv(edge_cases+'distances_dest_far_away.csv')

In [42]:
df.shape

(300, 3)

In [43]:
df.head()

  origin destination  distance
0  orig1       dest1     408.9
1  orig1       dest2     813.7
2  orig1       dest3     207.2
3  orig1       dest4     725.2
4  orig1       dest5     838.1

In [49]:
df = df.query('distance<=300').reset_index(drop=True)
df.groupby(['origin']).agg(count = ('destination','count')).reset_index().shape

(29, 2)

In [50]:
df.groupby(['destination']).agg(count = ('origin','count')).reset_index().shape

(10, 2)

In [51]:
df.shape

(63, 3)

In [53]:
test_df_path = '../data/test_data/dataframes/'
df = pd.read_csv(test_df_path+'orig_df.csv')

In [54]:
df.head()

      id  population
0  orig1          11
1  orig2          17
2  orig3           8
3  orig4          20
4  orig5          10

In [56]:
test_data_path = '../data/test_data/'
edge_case_path = test_data_path+'edge_cases/'
test_df_path = test_data_path+'dataframes/'

# one destination is eliminated (warning)
orig_df = pd.read_csv(test_df_path+'orig_df.csv')
dest_df = data.read_destination_file(edge_case_path+'destinations_dest_far_away.csv')
dist_lookup = data.read_distance_file(edge_case_path+'distances_dest_far_away.csv')
dist_df = data.build_dist_df(orig_df, dest_df, dist_lookup)
new_dist_df = model._apply_radius(orig_df, dest_df, dist_df, 1000)

WARNING:root:radius=1000 excludes 1 destinations

In [57]:
new_dist_df.head()

  origin destination  population  distance
0  orig1       dest1          11     408.9
1  orig1       dest2          11     813.7
2  orig1       dest3          11     207.2
3  orig1       dest4          11     725.2
4  orig1       dest5          11     838.1

In [58]:
dist_df.head()

  origin destination  population  distance
0  orig1       dest1          11     408.9
1  orig1       dest2          11     813.7
2  orig1       dest3          11     207.2
3  orig1       dest4          11     725.2
4  orig1       dest5          11     838.1

In [3]:
df = pd.read_csv('../data/test_data/results/out_basic_cartesian.csv')

In [5]:
set(df['destination'])

{'dest1', 'dest2', 'dest3', 'dest4', 'dest6'}