In [1]:
import pandas as pd

In [38]:
data_path='../data/test_data/'
edge_cases=data_path+'edge_cases/'
df = pd.read_csv(data_path+'origins_basic.csv')
df = pd.read_csv(data_path+'destinations_basic.csv')
df = pd.read_csv(data_path+'distances_cartesian.csv')
df = pd.read_csv(edge_cases+'origins_nan_populations.csv')
df = pd.read_csv(edge_cases+'origins_id_not_unique.csv')
df = pd.read_csv(edge_cases+'distances_not_numeric.csv')

In [39]:
df.head()

  origin destination  distance
0  orig1       dest1     408.9
1  orig1       dest2     813.7
2  orig1       dest3     207.2
3  orig1       dest4     725.2
4  orig1       dest5     838.1

In [40]:
pd.to_numeric(df['distance'])

0      408.9
1      813.7
2      207.2
3      725.2
4      838.1
       ...
295     94.1
296    463.5
297    425.8
298    530.4
299    341.1
Name: distance, Length: 300, dtype: float64

In [19]:
for series_name, series in df.items():
    print(df[series_name])

0      orig1
1      orig2
2      orig3
3      orig4
4      orig5
5      orig6
6      orig7
7      orig8
8      orig9
9     orig10
10    orig11
11    orig12
12    orig13
13    orig14
14    orig15
15    orig16
16    orig17
17    orig18
18    orig19
19    orig20
20    orig21
21    orig22
22    orig23
23    orig24
24    orig25
25    orig26
26    orig27
27    orig28
28    orig29
29    orig30
Name: id, dtype: object
0     11.0
1      NaN
2      NaN
3     20.0
4     10.0
5     11.0
6     15.0
7      6.0
8     18.0
9     17.0
10    17.0
11    15.0
12    19.0
13    18.0
14    12.0
15    12.0
16     8.0
17     6.0
18     6.0
19    12.0
20    18.0
21     5.0
22    15.0
23     8.0
24    19.0
25    14.0
26     5.0
27     8.0
28     7.0
29    18.0
Name: population, dtype: float64