In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('out_basic_cartesian.csv')

In [3]:
df.head()

  origin destination  distance  population
0  orig1       dest6     142.2          11
1  orig2       dest2     307.2          17
2  orig3       dest9     222.3           8
3  orig4       dest3     229.3          20
4  orig5       dest9     366.0          10

In [4]:
df.groupby(['destination']).agg( pop = ('population','sum') )

             pop
destination
dest1         39
dest2         47
dest3         60
dest4         54
dest6         56
dest8         60
dest9         59